* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: lightblue;
    width: auto;
}
.content-container {
    /* height: 30vh; */
    /* margin: 1% 10%; */
    width: 100%;
}

.availablePokemon {
    border: 1px solid black;
    height: 100px;
    text-align: center;
}
#Ash {
    margin-top: 1%;
    margin-left: 15%;
    
}
#Brock {
    margin-top: 1%;
    margin-left: 15%;
}
#Misty {
    margin-top: 1%;
    margin-left: 15%;
}
.jumbotron {
    background-color: salmon;
    width: auto;
    color: #FBFFB9;
    background-image: url("https://giphy.com/explore/nidorino");
}



.pokeCard {
    margin: 15px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
    margin-top: 25px;
    background-color: #ededed;
    text-align: center;
    


}

.alive {
    background-color: lightgreen !important;
}

.name {
    display: inline;
}

.poke-name {
    font-weight: 800;
    font-size: 1.5em;
}



.poke-content {
    margin: auto auto;
}
#pokedex {
    margin-top: 1%;
    margin-left: 15%;
}
/* #header-container {
    background-color: #004e66;
    height: 20vh;
}

h1 {
    color: white;
    text-align: center;
    font-size: 5em;
}

.content-container {
    height: 90vh;
    margin: 5% 10%;
}

.availablePokemon {
    border: 1px solid black;
    height: 200px;
}

.pokeCard {
    margin: 15px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
    margin-top: 25px;
    background-color: #ededed
}

.name {
    display: inline;
}

.poke-name {
    font-weight: 800;
    font-size: 1.5em;
}

.poke-content {
    margin: auto auto;
} */