* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 body {
    background-color: lightblue;
    width: auto;
    
 }
 p {
    padding-top: .1%;
 }
 .content-container {
  
    width: 100%;
 }
 
 .availablePokemon {
    border: 1px solid black;
    height: 100px;
    text-align: center;
 }
 #mySelection {
    margin-top: 1%;
    margin-left: 15%;
    
 }
 #opponent1 {
    margin-top: 1%;
    margin-left: 15%;
 }
 #opponent2 {
    margin-top: 1%;
    margin-left: 15%;
 }
 .jumbotron {
    background-color: salmon;
    width: auto;
    color: #FBFFB9;
    background-image: url(https://media.giphy.com/media/l0JMjhYmkvEzjxwGc/giphy.gif);
    height: 20.7vh;
  
 
 }
 
 
 
 .pokeCard {
    margin: 15px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
    margin-top: 25px;
    background-color: #ededed;
    text-align: center;
 
  
  
 
    
 
 }
 
 .alive {
    background-color: lightgreen !important;
 }
 
 .battleActive {
    background-color: pink !important;
 }
 
 .name {
    display: inline;
 }
 
 .poke-name {
    font-weight: 800;
    font-size: 1.5em;
 }
 
 
 
 .poke-content {
    margin: auto auto;
  
 }
 #pokedex {
    margin-top: 1%;
    margin-left: 15%;
    
 }
 
 
 .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: salmon;
    color: #FBFFB9;
    text-align: center;
    height: 2%;
  
    
 }


